
.upload-form{
    display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 30px;
   flex-direction: column;
}
/* 
.upload-form-modal{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 30px;
 flex-direction: column;
 width: 600px;
} */



.form-style{
   padding: 20px;
   /* border: 1px solid black; */
   width: 100%;
   text-align: center;
 }

 /* .form-style-modal{
   padding: 20px;
   align-self: center;
   width: 100%;
   text-align: center;
 } */
 
 .form-control{
   border-color: black !important;
 }
 